body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif;
  text-align: left;
  text-decoration: none;
  background-color: black;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  background-color: #111;
}

h1{
  font-family: blacklisted;
  font-weight: lighter;
}

.section {
  height: 600px;
  color: white;
  display: flex;
  padding: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}

.head{
  display: flex;
  background-color: black;
  border-bottom: 2px solid #333;
}

.black {
  background-color: black;
}

.grey {
  background-color: #8FBB8F ;
}

.underbox{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  background-color: #111;
  border-radius: 20px;
}

.openseaLink{
  background-color: antiquewhite; 
  color: black; 
  padding: 10px; 
  border-radius: 15px; 
  text-decoration: none;
  transition: 1s;
}

.openseaLink:hover{
  background-color: #8FBB8F;
  transition: 1s;
}

.attributes{
  display: flex;
  flex-direction: column;
}

.rarity{
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #111;
  border: aqua solid 1px;
  text-align: center;
  border-radius: 15px;
  width: 250px;
  height: 70px;
}

.rarity p{
  margin: 5px;
}
